<h1>Sign In</h1>

<%= form_with(local: true, url: signin_path) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value: @email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Sign In" %>
  </div>
<% end %>
