<!DOCTYPE html>
<html>
  <head>
    <title>Rails Playground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p>
        <%= link_to "Dashboard", root_url %> |
        <%= link_to "Users", users_url %> |
        <%= link_to current_user.name, current_user %> |
        <%= link_to "Sign Out", signout_path, method: :delete %>
      </p>
    <% end %>

    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key %>
    <% end %>

    <%= yield %>
  </body>
</html>
